<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7125.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="5D1C7819D1833D200F11ECFBB21DBD0FF2171B27673C510FFADB63FA393B07EBDE28D7BDECCFF18738950B0864F59C7451E2471ABE25AFE915B5B076E68F16F0" decryptionKey="DBDE9160F10F025ED31C67CFD1713DFDCEEB4D70B0DD82C3923878F69D0DB5F6" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="851E5BE2675371DE99F3B8D80018BCEFFD5674361D075605D4E2579D169F2CF9" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="851E5BE2675371DE99F3B8D80018BCEFFD5674361D075605D4E2579D169F2CF9" realm="http://localhost" />
	</relyingParties>
</securityConfig>